<!DOCTYPE html>
<html>
<head>
    <title>404 - Lost in Space</title>
    <style>
        body {
            text-align: center;
            background-color: #f0f0f0;
            font-family: 'Comic Sans MS', cursive, sans-serif;
        }
        h1 {
            color: #ff6347;
        }
        p {
            color: #333;
            font-size: 1.2em;
        }
        a {
            color: #ff6347;
            text-decoration: none;
            font-size: 1.5em;
            display: inline-block;
            margin-top: 20px;
        }
    </style>
</head>
<body>
<h1>404 - Lost in Space</h1>
<p>Oops! It looks like you took a wrong turn and ended up on the moon.</p>
<br>
<a href="/">Beam me up, Scotty!</a>
</body>
</html>
